.product-list__title {
  margin-bottom: 60px;
}

.product-list__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;

  @media (max-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 579px) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
