.contacts-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts-link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: unset;
  color: #FFFFFF;
  transition: .3s ease;
  cursor: pointer;
  font-size: 28px;
  line-height: 28px;
  width: fit-content;

  svg {
    transition: .3s ease;
  }

  &:hover {
    color: rgb(212, 175, 55);

    svg {
      transform: scale(1.2) rotate(10deg);
    }
  }

  svg {
    width: 28px;
    height: 28px;
  }

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 20px;
  }
}
