.product-card {
  padding: 32px;
  border-radius: 16px;
  border: 1px solid oklab(0.766529 -0.00252706 0.138662 / 0.2);
  background: #000;
  transition: .3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-10px);
    border-color: oklab(0.766529 -0.00252706 0.138662 / 0.5);
  }
}

.product-card__title {
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0;
}

.product-card__preview {
  height: 200px;
  width: 100%;
  object-fit: contain;
  border-radius: 16px;
  margin-bottom: 20px;
  pointer-events: none;
}

.product-card__media {
  position: relative;
  display: flex;
  justify-content: center;
  height: 200px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 16px;

  .product-card__preview {
    width: auto;
    max-width: 100%;
    margin-bottom: 0;
  }
}

.product-card__preview--blur {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(1.05);
  filter: blur(14px);
  opacity: .8;
}

.product-card__preview--soft {
  position: relative;
  $fade: linear-gradient(to right, transparent, #000 14%, #000 86%, transparent);
  $fade-y: linear-gradient(to bottom, transparent, #000 14%, #000 86%, transparent);

  -webkit-mask-image: $fade, $fade-y;
  mask-image: $fade, $fade-y;
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
}

.product-card__code {
  font-size: 16px;
  line-height: 24px;
  color: oklch(70.7% 0.022 261.325deg);
  margin-top: 20px;
}

.product-card__btn {
  padding: 6px 16px !important;
  margin-top: 16px;
  margin-left: auto;
}
