.product-card {
  padding: 32px;
  border-radius: 16px;
  border: 1px solid oklab(0.766529 -0.00252706 0.138662 / 0.2);
  background: #000;
  transition: .3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-10px);
    border-color: oklab(0.766529 -0.00252706 0.138662 / 0.5);
  }
}

.product-card__title {
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0;
}

.product-card__preview {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 20px;
  pointer-events: none;
}

.product-card__code {
  font-size: 16px;
  line-height: 24px;
  color: oklch(70.7% 0.022 261.325deg);
  margin-top: 20px;
}

.product-card__btn {
  padding: 6px 16px !important;
  margin-top: 16px;
  margin-left: auto;
}
